* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 86px;
    background-color: var(--mainGrey);
    line-height: 1.4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

:root {
    --mainTransition : all 0.3s linear;
    --mainSpacing: 3px;
    --mainGrey: #f7f7f7;
    --mainBlack: #000000;
    --secondGrey: #CCCCCC;
    --mainWhite: #ffffff;
    --mainYellow: #FFCC00;
}

/*Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.7rem 2rem;
    z-index: 1;
    background-color: var(--mainBlack);
    
}

.nav-header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.nav-btn {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.nav-icon {
    font-size: 1.5rem;
    color: var(--mainWhite);
}

.nav-icon:hover {
    color: var(--mainYellow);
}

.nav-links {
    transition: var(--mainTransition);
    list-style-type: none;
    height: 0;
    overflow: hidden;
}

.nav-links a {
    display: block;
    text-decoration: none;
    padding: 1rem 0;
    transition: var(--mainTransition);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: var(--mainSpacing);
    color: var(--mainWhite);
}

.nav-links a:hover {
    color: var(--mainYellow);
}

.show-nav {
    list-style-type: none;
    height: 150px;
}

@media screen and (min-width: 768px) {
    .nav-center {
        display: flex;
        margin: 0 auto;
        max-width: 1170px;
        align-items:center;
        
    }

    .nav-btn {
        display: none;
    }

    .nav-links {
        display: flex;
        margin-left: 4rem;
        height: auto;
    }

    .nav-links a {
        margin: 0 1rem;
        padding: 0.5rem 0;
    }
}

/* Hero */
.defaultHero, .toursHero, .aboutHero {
    min-height: calc(85vh - 86px);
    background: url("https://images.pexels.com/photos/1230302/pexels-photo-1230302.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center/cover no-repeat;
    align-items: center;
    justify-content: center;
}

.toursHero {
    background-image: url("https://images.pexels.com/photos/915972/pexels-photo-915972.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    
}

.aboutHero {
    background-image: url("https://images.pexels.com/photos/2398220/pexels-photo-2398220.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}